body {
    overflow-x: hidden;
    background-color: #60C5F9;
    font-family: 'Karla', sans-serif;
}
.custom-nav {
    color: white;
    background-color: #723091;
    border: none;
    padding: 10px;
}
.custom-nav li {
    padding: 10px;
    font-size: 1.5em;
}
.caption {
    font-size: 3em;
    color: black;
}
.navbar-name {
    font-size: 2em;
    color: white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.img-centered {
    margin: 0 auto;
}
.container.content {
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
}
.container.content img {
    border: 1px solid grey;
}
.container.content .row {
    margin-bottom: 20px;
    margin-top: 20px;
}
.container.content .row.section {
    margin-bottom: 20px;
}
.caption {
    position: relative;
    bottom: 140px;
}
header {
    text-align: left;
    background-image: url(../pictures/header1small2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 600px;
    color: white;
}
header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}
header img {
    display: block;
    margin: 0 auto 20px;
}
.shorthead {
    text-align: center;
    background-repeat: no-repeat;
    background-position: top center;
    height: 300px;
}
header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
}
header .intro-text .skills {
    font-size: 2em;
    font-weight: 300;
}
.about {
    height: 400px;
    background-color: #362E91;
    color: white;
}
.aboutbin {
    margin-top: 50px;
}
.footer-top {
    color: white;
    background-color: #362E91;
    padding-top: 50px;
}
.footer-col {
    margin-bottom: 40px;
}
.footer-col h3 {
    font-size: 3em;
}
.footer-col li {
    font-size: 1.5em;
}
footer h3 {
    margin-top: 20px;
}